services/getUserInfo/getUserInfo
services/getUserInfo/getUserInfo.zip
services/login/login
services/login/login.zip
services/getUserWorkouts/getUserWorkouts
services/getUserWorkouts/getUserWorkouts.zip
