services/getUserInfo/getUserInfo
services/getUserInfo/getUserInfo.zip
services/login/login
services/login/login.zip
services/getWorkouts/getWorkouts
services/getWorkouts/getWorkouts.zip
services/getFilters/getFilters
services/getFilters/getFilters.zip
